In [1]:
import pandas as pd
import numpy as np
import os
import glob
import json
import datetime
from dateutil.parser import parse
import gc

In [2]:
declaracion = pd.read_pickle("s1_declaracion.pkl")

In [3]:
def parse_date(x):
    try:
        return parse(x)
    except:
        return np.datetime64('NaT')

In [4]:
declaracion.columns

Index(['situacionPatrimonial.datosGenerales.nombre',
       'situacionPatrimonial.datosGenerales.primerApellido',
       'situacionPatrimonial.datosGenerales.segundoApellido',
       'situacionPatrimonial.datosGenerales.correoElectronico.institucional',
       'situacionPatrimonial.datosCurricularesDeclarante.escolaridad',
       'situacionPatrimonial.datosEmpleoCargoComision.tipoOperacion',
       'situacionPatrimonial.datosEmpleoCargoComision.nivelOrdenGobierno',
       'situacionPatrimonial.datosEmpleoCargoComision.ambitoPublico',
       'situacionPatrimonial.datosEmpleoCargoComision.nombreEntePublico',
       'situacionPatrimonial.datosEmpleoCargoComision.areaAdscripcion',
       ...
       'situacionPatrimonial.ingresos.otrosIngresosAnualesTotal',
       'situacionPatrimonial.ingresos.remuneracionConclusionCargoPublico',
       'situacionPatrimonial.ingresos.ingresoConclusionNetoDeclarante',
       'situacionPatrimonial.ingresos.totalIngresosConclusionNetos',
       'situacionPatrimonial.ingresos.ingresoConclusionNetoParejaDependiente',
       'situacionPatrimonial.ingresos.remuneracionMensualCargoPublico',
       'situacionPatrimonial.ingresos.otrosIngresosMensualesTotal',
       'situacionPatrimonial.ingresos.ingresoMensualNetoDeclarante',
       'situacionPatrimonial.ingresos.ingresoMensualNetoParejaDependiente',
       'situacionPatrimonial.ingresos.totalIngresosMensualesNetos'],
      dtype='object', length=376)

In [21]:
declaracion["situacionPatrimonial.datosGenerales.nombre"] = declaracion["situacionPatrimonial.datosGenerales.nombre"].fillna("")
declaracion["situacionPatrimonial.datosGenerales.primerApellido"] = declaracion["situacionPatrimonial.datosGenerales.primerApellido"].fillna("")
declaracion["situacionPatrimonial.datosGenerales.segundoApellido"] = declaracion["situacionPatrimonial.datosGenerales.segundoApellido"].fillna("")

declaracion["nombre_declaracion"] = declaracion["situacionPatrimonial.datosGenerales.nombre"] + " " \
+ declaracion["situacionPatrimonial.datosGenerales.primerApellido"] + " " \
+ declaracion["situacionPatrimonial.datosGenerales.segundoApellido"]

declaracion["nombre_declaracion"] = declaracion["nombre_declaracion"].str.lower().str.strip()
declaracion["nombre_declaracion"] = declaracion["nombre_declaracion"].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

declaracion ["fechaTomaPosesion"] =  declaracion["situacionPatrimonial.datosEmpleoCargoComision.fechaTomaPosesion"].apply(parse_date)

columnas = ["nombre_declaracion" , "fechaTomaPosesion"]
declaracion_target = declaracion[columnas]

In [22]:
declaracion_target

                      nombre_declaracion    fechaTomaPosesion
0             adrian hernandez hernandez  2011-03-01 00:00:00
1          abigain yareli hernandez cruz  2018-04-01 00:00:00
2                 adelfo hernandez nieto  1992-11-01 00:00:00
3        adrian emilio madrigal gonzalez  2019-11-16 00:00:00
4                      abel lemus torres  2021-05-07 00:00:00
...                                  ...                  ...
1354292  zulema lineth hernandez sanchez  2014-09-05 00:00:00
1354293  zulema lineth hernandez sanchez  2014-09-05 00:00:00
1354294      zulma veronica casas chavez  2000-08-01 00:00:00
1354295      zulma veronica casas chavez  2000-08-01 00:00:00
1354296      zulma veronica casas chavez  2000-08-01 00:00:00

[1354297 rows x 2 columns]

In [29]:
declaracion_target.to_hdf("s1_fecha_toma_posesion.h5", key = "df")

C:\Users\garci\AppData\Local\Temp\ipykernel_12900\1904553372.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->Index(['nombre_declaracion', 'fechaTomaPosesion'], dtype='object')]

  declaracion_target.to_hdf("s1_fecha_toma_posesion.h5", key = "df")